<div class="layui-fluid layui-anim febs-anim" lay-title="新增事务"
     id="matter-add">
    <div class="layui-row febs-container">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" action="" lay-filter="febs-form-group">
                    <!-- 工作事项 -->
                    <div>
                        <input style="display: none" name="deptId">
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">事务名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="matterName" lay-verify="title"
                                   autocomplete="off" placeholder="请输入工作事务"
                                   class="layui-input" minlength="2" maxlength="20">
                        </div>
                    </div>
                    <!-- 工作内容 -->
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">工作内容</label>
                        <div class="layui-input-block">
              <textarea type="text" name="matterText" placeholder="请输入工作内容"
                        class="layui-textarea" minlength="2" maxlength="200"></textarea>
                        </div>
                    </div>
                    <!--<div class="layui-form-item">
                        <label class="layui-form-label">事务周期</label>
                        <div class="layui-input-block">
                            <input type="text" name="period" lay-verify="title" autocomplete="off" placeholder="请输入事务周期"
                                   class="layui-input">
                        </div>
                    </div>-->
                    <!--<div class="layui-inline">
                        <label class="layui-form-label">事务周期</label>
                        <div class="layui-input-inline">
                            <select name="period">
                                <option value="">不开启</option>
                                <option value="月">月</option>
                                <option value="季度">季度</option>
                                <option value="半年">半年</option>
                                <option value="年">年</option>
                            </select>
                        </div>
                    </div>-->
                    <!-- 是否重要 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否重要</label>
                        <div class="layui-input-block">
                            <input type="radio" name="important" value="0" title="否" checked="">
                            <input type="radio" name="important" value="1" title="是">
                        </div>
                    </div>
                    <!-- 是否紧急 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否紧急</label>
                        <div class="layui-input-block">
                            <input type="radio" name="urgent" value="0" title="否" checked="">
                            <input type="radio" name="urgent" value="1" title="是">
                        </div>
                    </div>
                    <!--是否循环-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否循环</label>
                        <div class="layui-input-block">
                            <input type="radio" name="forEach" value="0" title="否" checked="">
                            <input type="radio" name="forEach" value="1" title="是">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label ">开启状态</label>
                        <div class="layui-input-block">
                            <input type="radio" name="isOpen" value="0" title="正常" checked="">
                            <input type="radio" name="isOpen" value="1" title="暂停">
                        </div>
                    </div>
                    <!-- 责任人 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label febs-form-item-require">责任人：</label>
                        <div class="layui-input-block">
                            <select name="userId"
                                    lay-verify="required"
                                    xm-select-direction="down"
                                    xm-select="matter-update-user-add"
                                    xm-select-skin="default">
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">责任小组：</label>
                        <div class="layui-input-block">
                            <select name="teamId"
                                    xm-select-direction="down"
                                    xm-select="matter-update-team-add"
                                    xm-select-skin="default">
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">设置周期：</label>
                        <div class="layui-input-inline">
                            <select name="cycleId"
                                    xm-select-direction="down"
                                    xm-select="matter-cycle-add"
                                    xm-select-skin="default"
                                    xm-select-max="1">
                            </select>
                        </div>
                    </div>
                    <!-- 日程初始化 -->

                    <!-- <div class="layui-form-item">
                         <div class="layui-input-block">
                             <button class="layui-btn" lay-submit=""
                                     lay-filter="febs-form-group-submit">日程初始化
                             </button>
                         </div>
                     </div>-->
                    <!-- 开始时间 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-inline">
                            <input type="datetime" name="matterOpenStr" id="febs-form-group-date-1"
                                   lay-verify="date" placeholder="开始时间" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <!-- 结束时间 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-inline">
                            <input type="datetime" name="endStr" id="febs-form-group-date-2"
                                   lay-verify="date" placeholder="结束时间" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item febs-hide">
                        <button class="layui-btn" lay-submit="" lay-filter="matter-add-form-submit"
                                id="submit"></button>
                        <button type="reset" class="layui-btn" id="reset"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['febs', 'form', 'laydate', 'formSelects', 'tree'], function () {
        var $ = layui.$,
            febs = layui.febs,
            element = layui.element,
            tree = layui.tree,
            formSelects = layui.formSelects,
            layer = layui.layer,
            laydate = layui.laydate,
            form = layui.form;


        initMatterValue();

        function initMatterValue() {

            form.val("febs-form-group", {
                "deptId": currentUser.deptId,
            });
        }

        form.render(null, 'febs-form-group');

        laydate.render({
            elem: '#febs-form-group-date-1',
            format: "yyyy-MM-dd",
            value: new Date(),
        });
        laydate.render({
            elem: '#febs-form-group-date-2',
            format: "yyyy-MM-dd",
        });
        laydate.render({
            elem: '#febs-form-group-date-3',
            format: "yyyy-MM-dd",
        });

        /* 自定义验证规则 */
        form.verify({
            title: function (value) {
                if (value.length < 0) {
                    return '名称不为空';
                }
            },
            /*  pass: [/(.+){6,12}$/, '密码必须6到12位'],
             content: function (value) {
                 layedit.sync(editIndex);
             } */
        });

        /* 监听指定开关 */
        form.on('switch(febs-form-group-switch)', function (data) {
            febs.alert.info('开关checked：' + (this.checked ? 'true' : 'false'));
            /*  layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis) */
        });

        /* 监听提交 */
        form.on('submit(febs-form-group-submit)', function (data) {
            layer.alert(JSON.stringify(data.field), {});
            return false;
        });

        //role
        formSelects.config('user-add-role', {
            searchUrl: ctx + 'role',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].roleName,
                        value: data[i].roleId
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取角色列表失败');
            }
        });


        formSelects.config('matter-update-user-add', {
            searchUrl: ctx + 'user/all',
            response: {
                statusCode: 200
            },
            keyChildren: 'children',
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                //console.log(data);
                for (var i = 0; i < data.length; i++) {
                    //console.log(data[i].name);
                    tranData.push({
                        name: data[i].name,
                        value: data[i].userId,
                        selected: "",
                        disabled: ""
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取用户列表失败');
            }
        });

        formSelects.config('matter-update-team-add', {
            searchUrl: ctx + 'team',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                //console.log(data);
                for (var i = 0; i < data.length; i++) {
                    //  console.log(data[i].name);
                    tranData.push({
                        name: data[i].teamName,
                        value: data[i].teamId
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取小组列表失败');
            }
        });

        formSelects.config('matter-cycle-add', {
            searchUrl: ctx + 'cycle/all',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                //console.log(data);
                for (var i = 0; i < data.length; i++) {
                    //  console.log(data[i].name);
                    tranData.push({
                        name: data[i].cycleName,
                        value: data[i].cycleId,
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取周期列表失败');
            }
        });


    });
</script>