<div class="layui-fluid layui-anim febs-anim" lay-title="修改事务"
     id="matter-update-one-iu">
    <div class="layui-row febs-container">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" action="" lay-filter="febs-form-group" id="form-matter">
                    <!-- 工作事项 -->
                    <div style="display: none">
                        <input name="matterId">
                    </div>
                    <div style="display: none">
                        <input name="userId">
                    </div>
                    <div style="display: none">
                        <input name="tUserMatterId">
                    </div>
                    <!-- 是否重要 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否重要</label>
                        <div class="layui-input-block">
                            <input type="radio" name="importantOne" value="0" title="否"
                                   checked=""> <input type="radio" name="importantOne"
                                                      value="1" title="是">

                        </div>
                    </div>
                    <!-- 是否重复 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否紧急</label>
                        <div class="layui-input-block">
                            <input type="radio" name="urgentOne" value="0" title="否"
                                   checked=""> <input type="radio" name="urgentOne"
                                                      value="1" title="是">
                        </div>
                    </div>
                    <div class="layui-form-item febs-hide">
                        <button class="layui-btn" lay-submit="" lay-filter="matter-update-form-submit-iu"
                                id="submit"></button>
                        <button type="reset" class="layui-btn" id="reset"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script data-th-inline="javascript" type="text/javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'eleTree', 'laydate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            eleTree = layui.eleTree,
            $view = $('#matter-update-one-iu'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $submit = $view.find('#submit'),
            laydate = layui.laydate,
            userMatter = [[${userMatter}]],
            validate = layui.validate;
        //console.log(matter);
        initMatterValue();
        form.verify(validate);
        formSelects.render();
        form.render();
        //console.log(matter);

        //var dateStart = (matter.start).Format("yyyy-MM-dd");
        //dateStart = format(matter.start, 'yyyy-MM-dd');
        //console.log(dateStart)
        //var dateEnd = (matter.end).Format("yyyy-MM-dd");
        //dateEnd = format(matter.end, 'yyyy-MM-dd');

        console.log(userMatter);

        function initMatterValue() {
            form.val("febs-form-group", {
                "tUserMatterId": userMatter.tuserMatterId,
                "matterId": userMatter.matterId,
                "userId": userMatter.userId,
                "importantOne": userMatter.importantOne,
                "urgentOne": userMatter.urgentOne,
            });
        }

        form.render(null, 'febs-form-group');


        /* 自定义验证规则 */
        form.verify({
            title: function (value) {
                if (value.length < 0) {
                    return '名称不为空';
                }
            },
            /*  pass: [/(.+){6,12}$/, '密码必须6到12位'],
             content: function (value) {
                 layedit.sync(editIndex);
             } */
        });

        /* 监听指定开关 */
        form.on('switch(febs-form-group-switch)', function (data) {
            febs.alert.info('开关checked：' + (this.checked ? 'true' : 'false'));
            /*  layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis) */
        });

    });
</script>