<style>
    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }
</style>
<div class="layui-col-md12 layui-col-sm0 layui-col-xs12" id="role-update">
    <div class="layui-card">
        <div class="layui-card-header" id="form-header"></div>
        <div class="layui-card-body febs-table-full">
            <form class="layui-form layui-table-form" action=""
                  lay-filter="role-form">
                <div class="layui-form-item febs-hide">
                    <label class="layui-form-label febs-form-item-require">角色ID：</label>
                    <div class="layui-input-block">
                        <input type="text" name="roleId" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">角色名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="roleName" autocomplete="off"
                               class="layui-input" minlength="2" maxlength="10"
                               lay-verify="range">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色描述：</label>
                    <div class="layui-input-block">
            <textarea name="remark" maxlength="50"
                      class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">角色权限：</label>
                    <div class="layui-input-block menu-tree"
                         style="margin-top: .8rem;"></div>
                </div>

                <div class="layui-form-item febs-hide">
                    <button type="reset" class="layui-btn" id="reset-form"></button>
                    <button class="layui-btn" lay-submit="" lay-filter="role-form-submit" id="submit-form"></button>
                </div>
            </form>
        </div>
        <!--     <div class="layui-card-footer">
              <button class="layui-btn" id="submit">保存</button>
            </div> -->
    </div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['dropdown', 'febs', 'form', 'formSelects', 'validate', 'eleTree', 'jquery', 'laydate'], function () {
        var $ = layui.$,
            laydate = layui.laydate,
            febs = layui.febs,
            layer = layui.layer,
            //table = layui.table,
            formSelects = layui.formSelects,
            //treeSelect = layui.treeSelect,
            dropdown = layui.dropdown,
            validate = layui.validate,
            form = layui.form,
            $view = $('#role-update'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            role = [[${role}]],
            eleTree = layui.eleTree,
            $searchForm = $view.find('#role-table-form'),
            validate = layui.validate,
            menuTree;

        form.verify(validate);
        form.render();
        formSelects.render();
        initRoleValue();
        menuTreeSelect();

        function menuTreeSelect() {
            menuTree = eleTree.render({
                elem: $view.find('.menu-tree'),
                url: ctx + 'menu/tree',
                showCheckbox: true,
                /*where: {
                    "invalidate_ie_cache": new Date()
                },*/
                accordion: true,
                checkStrictly: true,
                renderAfterExpand: false,
                request: {
                    name: "title",
                    key: "id",
                    children: "childs",
                    checked: "checked",
                    data: "data"
                },
                response: {
                    statusName: "code",
                    statusCode: 200,
                    dataName: "data"
                },
                done: function () {
                    console.log('输出菜单Id:'+role.menuIds)
                    menuTree.setChecked(role.menuIds.split(','), true);
                }
            });
            return menuTree;
        }


        function initRoleValue() {
            form.val("role-form", {
                "roleId": role.roleId,
                "roleName": role.roleName,
                "remark": role.remark,
            });
        }


        form.on('submit(role-form-submit)', function (data) {
            var selected = menuTree.getChecked(false, true);
            var menuIds = [];
            layui.each(selected, function (key, item) {
                menuIds.push(item.id)
            });
            data.field.menuIds = menuIds.join(",");
            if (febs.nativeEqual(data.field, role)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'role/update', data.field, function () {
                layer.closeAll();
                febs.alert.success(role.roleName + ' 用户数据修改成功');
                $('#febs-role').find('#query').click();
            });
            return false;
        })

    });

</script>





