<style>
    #febs-index .welcome-info {
        border: 1px solid #f1f1f1;
        margin-bottom: .5rem;
        padding: .5rem;
    }

    #febs-index .welcome-info-wrapper {
        padding: .2rem;
        display: inline-block
    }

    #febs-index .welcome-info-wrapper .user-header {
        display: inline-block;
        vertical-align: middle
    }

    #febs-index .welcome-info-wrapper .user-header img {
        width: 5rem;
        margin: .5rem 1rem;
        border-radius: 50%
    }

    #febs-index .welcome-info-wrapper .user-info {
        display: inline-block;
        vertical-align: middle
    }

    #febs-index .welcome-info-wrapper .user-info .random-message {
        font-size: 1rem;
        margin-bottom: .2rem;
        max-width: 21rem
    }

    #febs-index .welcome-info-wrapper .user-info .user-dept, #febs-index .welcome-info-wrapper .user-info .user-login-info {
        color: rgba(0, 0, 0, 0.45);
    }

    #febs-index .login-count-table {
        width: 100%;
        margin: 1rem;
    }

    #febs-index .userTable {
        width: 100%;
        margin: 1rem;
    }

    #febs-index .login-count-table .count {
        padding-top: .8rem;
        font-size: 1rem;
        font-weight: 600;
        color: #1890ff
    }

    #febs-index .project-table {
        padding: .5rem;
        border: 1px solid #f1f1f1;
        width: 100%
    }

    #febs-index .project-table-td {
        padding: .5rem 0.7rem;
        border: 1px solid #f1f1f1;
    }

    #febs-index .project-table-td a {
        color: #42b983;
        font-size: .9rem;
        font-weight: 600;
    }

    #febs-index .project-desc {
        color: rgba(0, 0, 0, 0.45);
    }
</style>
<div class="layui-fluid layui-anim febs-anim-up" id="febs-index"
     lay-title="系统首页">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body layui-anim layui-anim-fadein">
                    <div class="layui-row welcome-info">
                        <div class="layui-col-md6 layui-col-sm12 layui-col-xs12">
                            <div class="layui-row welcome-info-wrapper">
                                <!--<div class="user-header">
                                    <img alt="头像" id="user-avatar"
                                         data-th-src="@{febs/images/avatar/zhongguoyancao.png}">
                                </div>-->
                                <div class="user-info">
                                    <div class="layui-row">
                                        <div class="random-message">
                                            <span id="welcome-message"></span>
                                        </div>
                                        <div class="user-dept">
                                            <span id="user-dept"></span> | <span
                                                id="user-role"></span> | <span
                                                id="user-post"></span>
                                        </div>
                                        <div class="user-login-info">
                                            上次登录时间：<span id="last-login-time">2019-05-23
                        18:45:12</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-sm12 layui-col-xs12">
                            <div class="layui-col-md-offset5">
                                <!--<table class="login-count-table">
                                    <tr>
                                        <td>今日IP</td>
                                        <td>今日访问</td>
                                        <td>总访问量</td>
                                    </tr>
                                    <tr>
                                        <td class="count" id="today-ip">0</td>
                                        <td class="count" id="today-visit-count">0</td>
                                        <td class="count" id="total-visit-count">0</td>
                                    </tr>
                                </table>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row ">
            <div class="layui-col-md5 ">
                <div id="main" style="width: 500px;height:400px;"></div>
            </div>
            <div class="layui-col-md7 ">
                <table class="matterIndexTable" lay-filter="matterIndexTable"
                       lay-data="{id: 'matterIndexTable'}"></table>
            </div>
        </div>
        <!--事务-->
        <!--<div class="layui-row ">
            <div class="layui-col-md12 layui-bg-green">
                <h1 style="text-align: center">事务展示</h1>
            </div>
        </div>-->
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">

        </div>
        <!--职务-->
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12" style="min-height: 600px">
            <table class="userTable" lay-filter="userTable" lay-data="{id: 'userTable'}"></table>
        </div>
    </div>
</div>
<script>
</script>
<script type="text/html" id="matter-finish-index">
    {{#
    var finish = {
    1: {title: '已完成', color: 'green'},
    0: {title: '未完成', color: 'volcano'}
    }[d.finish];
    }}
    <span class="layui-badge febs-bg-{{finish.color}}">{{ finish.title }}</span>
</script>
<script data-th-inline="none" type="text/javascript">
    var number;
    var tableName;
    var myChart = echarts.init(document.getElementById('main'));

    // 绘制图表。
    layui.use(['apexcharts', 'febs', 'jquery', 'util', 'table'], function () {
        var $ = layui.jquery,
            util = layui.util,
            $view = $('#febs-index'),
            febs = layui.febs,
            table = layui.table,
            //sortObject = {field: 'createTime', type: null},
            //$searchForm = $view.find('form'),
            tableIns,
            tableIn;
        loginTest();

        function loginTest() {
            febs.get(ctx + 'matter/echarts', null, function (date) {
                number = date.data;
                eac(number);
                console.log(number[0].name);
                matterIndexTable(number[0].name);
            });
        }


        function eac(number) {
            tableName = number[0].name;
            console.log(tableName);
            console.log(number)
            var option = {
                title: {
                    text: '未完成人数统计',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                /*legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
                },*/
                series: [
                    {
                        name: '人数统计',
                        type: 'pie',
                        radius: '75%',
                        center: ['50%', '60%'],
                        data: number,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ],
                selected: {
                    // 选中'系列1'
                    '公司月会议': true,
                }
            };
            myChart.setOption(option);

        }

        myChart.on('click', function (params) {
            console.log(params.name);
            userTable(0);
            matterIndexTable(params.name);
        });

        console.log(currentUser.deptId);

        function matterIndexTable(name) {
            tableIns = febs.table.init({
                elem: $view.find('.matterIndexTable'),
                id: 'matterIndexTable',
                url: ctx + 'matter/listOutIndex?matterName=' + name,
                cols: [[
                    {field: 'matterName', title: '工作事项', event: 'seepage'},
                    {field: 'matterOpen', title: '开始时间', event: 'seepage'},
                    {field: 'end', title: '结束时间', event: 'seepage'},
                    {field: 'over', title: '已完成人数', width: 110, event: 'seepage'},
                    {field: 'noOver', title: '未完成人数', width: 110, event: 'seepage'},
                ]],
                done: function (res, curr, count) {
                    $('.layui-table-view[lay-id="matterIndexTable"]').children('.layui-table-box').children('.layui-table-body').find('table tbody tr[data-index="0"]').click();
                }
            });
        }

        table.on('row(matterIndexTable)', function (obj) {
            userTable(obj.data.matterId);
        })

        function userTable(matterId) {
            tableIn = febs.table.init({
                elem: $view.find('.userTable'),
                id: 'userTable',
                url: ctx + 'matter/listUserIndex?matterId=' + matterId,
                cols: [[
                    {title: '完成状态', templet: '#matter-finish-index', width: 90},
                    {field: 'userEmpno', title: '员工号'},
                    {field: 'name', title: '姓名', minWidth: 100},
                    {field: 'deptName', title: '部门'},
                    {field: 'post', title: '职务'},
                ]]
            });
        }

        febs.get(ctx + 'index/' + currentUser.username, null, function (r) {
            handleSuccess(r.data);
        });

        function handleSuccess(data) {
            var hour = new Date().getHours();
            var time = hour < 6 ? '早上好' : (hour <= 11 ? '上午好' : (hour <= 13 ? '中午好' : (hour <= 18 ? '下午好' : '晚上好')));
            var welcomeArr = [
                '有没有未完成的事项呢',
            ];
            var index = Math.floor((Math.random() * welcomeArr.length));
            var welcomeMessage = time + '，<a id="febs-index-user">' + currentUser.name + '</a>';
            $view.find('#today-ip').text(data.todayIp).end()
                .find('#today-visit-count').text(data.todayVisitCount).end()
                .find('#total-visit-count').text(data.totalVisitCount).end()
                .find('#user-dept').text(currentUser.deptName ? currentUser.deptName : '暂无所属部门').end()
                .find('#user-role').text(currentUser.roleName ? currentUser.roleName : '暂无角色').end()
                .find('#user-post').text(currentUser.post ? currentUser.post : '暂未设置职务').end()
                .find('#last-login-time').text(currentUser.lastLoginTime ? currentUser.lastLoginTime : '第一次访问系统').end()
                .find('#welcome-message').html(welcomeMessage).end();
            //.find('#user-avatar').attr('src', ctx + "febs/images/avatar/" + "zhongguoyancao.png");

            var currentTime = new Date().getTime();
            var yourVisitCount = [];
            var totalVisitCount = [];
            var lastTenDays = [
                util.toDateString(new Date(currentTime - 1000 * 9 * 86400), 'MM-dd'),
                util.toDateString(new Date(currentTime - 1000 * 8 * 86400), 'MM-dd'),
                util.toDateString(new Date(currentTime - 1000 * 7 * 86400), 'MM-dd'),
                util.toDateString(new Date(currentTime - 1000 * 6 * 86400), 'MM-dd'),
                util.toDateString(new Date(currentTime - 1000 * 5 * 86400), 'MM-dd'),
                util.toDateString(new Date(currentTime - 1000 * 4 * 86400), 'MM-dd'),
                util.toDateString(new Date(currentTime - 1000 * 3 * 86400), 'MM-dd'),
                util.toDateString(new Date(currentTime - 1000 * 2 * 86400), 'MM-dd'),
                util.toDateString(new Date(currentTime - 1000 * 86400), 'MM-dd'),
                util.toDateString(new Date(currentTime), 'MM-dd')
            ];


            layui.each(lastTenDays, function (k, i) {
                var contain = false;
                layui.each(data.lastSevenUserVisitCount, function (key, item) {
                    if (i === item.days) {
                        yourVisitCount.push(item.count);
                        contain = true;
                    }
                });
                if (!contain) yourVisitCount.push(0);
                contain = false;
                layui.each(data.lastSevenVisitCount, function (key, item) {
                    if (i === item.days) {
                        totalVisitCount.push(item.count);
                        contain = true;
                    }
                });
                if (!contain) totalVisitCount.push(0);
            });

            var options = {
                chart: {
                    height: 350,
                    type: 'area',
                    toolbar: {
                        show: false
                    }
                },
                colors: ['#1890ff', '#0acf97'],
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '32rem'
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    width: [3, 3],
                    curve: 'smooth'
                },
                series: [{
                    name: '总数',
                    data: totalVisitCount
                }, {
                    name: '您',
                    data: yourVisitCount
                }],
                xaxis: {
                    categories: lastTenDays,
                    axisTicks: {
                        show: true
                    },
                    axisBorder: {
                        show: true,
                        color: '#f1f1f1'
                    }
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.5,
                        opacityTo: 0,
                        stops: [0, 90, 100]
                    }
                },
                title: {
                    text: '近10天系统访问记录',
                    align: 'left',
                    style: {
                        color: 'rgba(0, 0, 0, .65)'
                    }
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return "访问次数 " + val + " 次"
                        }
                    }
                },
                grid: {
                    row: {
                        colors: ['transparent', 'transparent'],
                        opacity: 0.2
                    },
                    borderColor: '#f1f1f1'
                }
            };

            new ApexCharts(
                document.querySelector("#chart"),
                options
            ).render();
        }

        $view.on('click', '#febs-index-user', function () {
            febs.navigate("/user/profile");
        })

    });


</script>
